/*=========== font ===========*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/*=========== variables css ===========*/
:root {
  --body-font: 'Montserrat', sans-serif;

  /* color */
  --title-color: #000000;
  --text-color: #808B96;
  /* --body-color: hsl(0, 0%, 98%); */
  --body-color: #f7f7f7;
  --div-color: #fff;

  /* font-size */
  --big-font: 3.5rem;
  --h1: 2.25rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --normal-font: 1rem;
  --small-font: 0.813rem;
  --ex-small-font: 0.75rem;

  /* font-weight */
  --normal-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* magrin-bottom */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z-index */
  --index-10: 10;
  --index-100: 100;
  --index-1000: 1000;
}

/*========= Responsive =========*/
@media screen and (max-width: 992px) {
  :root {
    --big-font: 2.75rem;
    --h1: 1.5rem;
    --h2: 1.25rem;
    --h3: 1rem;
    --normal-font: 0.938rem;
    --small-font: 0.813rem;
    --ex-small-font: 0.65rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--semi-bold-weight);
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== css classes ==========*/
.section {
  padding: 6rem 0 2rem;
}

.section-title {
  font-size: var(--h1);
  color: var(--title-color);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font);
  margin-bottom: 4rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

/* layout */
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
  gap: 1.5rem;
}

/* button */
.btn {
  display: inline-block;
  background-color: var(--bg-color);
  color: var(--div-color);
  padding: .91rem 1.5rem;
  border-radius: 30px;
  font-weight: var(--medium-weight);
  transition: .3s;
}

.btn-icon {
  margin-right: var(--mb-0-5);
}

.btn-flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section-subtitle {
    margin-bottom: var(--mb-3);
  }

  .btn {
    padding: .2rem .85rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --big-font: 2.25rem;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

::-webkit-scrollbar{
  display: none;
}